html,body{
height: 100%;
margin: 0;
}

body {
display: flex;
flex-direction: column;
}

main {
flex: 1;
}


.navbar {
width: 100%;
background-color: #590e0e;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 40px; 
box-sizing: border-box;
}

.navbar-logo {
display: flex;
align-items: center;
gap: 10px;
}

.navbar-logo img {
width: 180px;
height: auto;
}

.navbar-logo span {
font-size: 20px;
font-weight: bold;
font-family: "Times New Roman", serif;
margin-top: 50px;
margin-left: -50px;
}

.navbar-links {
display: flex;
align-items: center;
gap: 40px; 
margin-top: 50px;
}

.nav-left {
display: flex;
gap: 25px; 
}

.nav-right {
display: flex;
gap: 20px;
}

.nav-right a {
padding: 8px 16px;
border: 1px solid #d02310;
border-radius: 6px;
background-color: #d02310;
font-size: 16px;
text-decoration: none;
transition: 0.3s;
}

.nav-right a:hover {
background-color: #d02310;
color: white;
border-color: white;
}

.nav-left a,
.nav-right a {
color: white;
text-decoration: none;
font-size: 16px;
font-family: "Times New Roman", serif;
transition: 0.3s;
}

.nav-left a:hover,
.nav-right a:hover {
color: #e5d5d6;
}

.nav-left a{
position: relative;
color: white;
text-decoration: none;
padding-bottom: 6px;
}

.nav-left a::after {
content: "";
position: absolute;
left: 0;
bottom: 0;
width: 0;
height: 1px;
background-color: white;
transition: width 0.3s ease;
}

.nav-left a:hover::after {
width: 100%;
}







footer {
display: flex;
background-color: #590e0e;
color: white;
padding: 40px 60px 25px;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;
}

.footer-left {
display: flex;
align-items: center;
gap: 15px;
}

.footer-left img {
width: 180px;
height: auto;
margin-left: -50px;
}

.footer-text {
display: flex;
flex-direction: column;
line-height: 1.3;
margin-left: -50px;
margin-top: 40px;
}

.footer-text span {
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
font-weight: bold;
}

.footer-text p {
font-family: 'Times New Roman', Times, serif;
font-size: 11px;
margin: 0;
opacity: 0.8;
}

.footer-right {
display: flex;
flex-direction: column;
align-items: flex-end;
gap: 6px;
margin-top: 30px;
}

.footer-right a {
color: white;
text-decoration: none;
font-size: 15px;
font-family: 'Times New Roman', Times, serif;
position: relative;
}

.footer-right a::after {
content: "";
position: absolute;
left: 0;
bottom: -2px;
width: 0;
height: 1px;
background-color: #ffffff;
transition: width 0.3s ease;
}

.footer-right a:hover::after {
width: 100%;
}

.footer-copy {
width: 100%;
text-align: center;
margin-top: 25px;
padding-top: 10px;
font-size: 13px;
opacity: 0.7;
border-top: 1px solid rgba(255,255,255,0.4);
}

/* MODAL ARKAPLANI */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    justify-content: center;
    align-items: center;
}

/* MODAL İÇİ */
.modal-icerik {
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    width: 340px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.2);
    position: relative;
    font-family: "Times New Roman", serif;
}

/* X BUTONU */
.kapat {
    position: absolute;
    right: 18px;
    top: 10px;
    font-size: 28px;
    cursor: pointer;
}

/* PANEL ORTAK */
.giris-panel, .kayit-panel {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 12px;
}

input {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 8px;
    margin-top: 5px;
    font-size: 14px;
}

button {
    margin-top: 20px;
    padding: 12px;
    background: #590e0e;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.degis {
    margin-top: 12px;
}

.degis span {
    color: #590e0e;
    cursor: pointer;
}

.kapali {
    display: none;
}


.iletisim-ana {
    padding: 40px 0 100px 0;
    width: 100%;
    font-family: "Times New Roman", serif;
    background: #f4f4f4;
}

.iletisim-baslik {
    font-size: 32px;
    margin-left: 40px;
    margin-bottom: 25px;
}

.iletisim-container {
    width: 90%;
    margin: auto;
    display: flex;
    gap: 30px;
}

/* Sol Bilgi Kartı */
.iletisim-bilgi {
    flex: 1;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    font-size: 18px;
}

.iletisim-bilgi iframe {
    width: 100%;
    height: 260px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

/* Sağ Form Kartı */
.iletisim-form {
    flex: 1;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.iletisim-form label {
    font-weight: bold;
    margin-top: 15px;
    display: block;
}

.iletisim-form input,
.iletisim-form textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin-top: 6px;
    border: 1px solid #bbb;
    border-radius: 8px;
    outline: none;
    font-family: "Times New Roman";
}

.iletisim-form textarea {
    height: 120px;
    resize: none;
}

.iletisim-form button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #590e0e;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

.iletisim-form button:hover {
    background: #7e1010;
}


@media (max-width: 900px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 12px 15px;
        gap: 10px;
    }

    .navbar-logo img {
        width: 200px;
        height: auto;
    }

    .navbar-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .nav-left {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 15px;
        white-space: nowrap;
        width: calc(100%-110px);
    }

    .nav-right {
        display: flex;
        justify-content: flex-end;
        width: 110px;
    }

    .nav-right a {
        font-size: 14px;
        padding: 5px 10px;
    }
}