html,body{
height: 100%;
margin: 0;
}

body {
display: flex;
flex-direction: column;
}

main {
flex: 1;
}


.navbar {
width: 100%;
background-color: #590e0e;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 40px; 
box-sizing: border-box;
}

.navbar-logo {
display: flex;
align-items: center;
gap: 10px;
}

.navbar-logo img {
width: 180px;
height: auto;
}

.navbar-logo span {
font-size: 20px;
font-weight: bold;
font-family: "Times New Roman", serif;
margin-top: 50px;
margin-left: -50px;
}

.navbar-links {
display: flex;
align-items: center;
gap: 40px; 
margin-top: 50px;
}

.nav-left {
display: flex;
gap: 25px; 
}

.nav-right {
display: flex;
gap: 20px;
}

.nav-right a {
padding: 8px 16px;
border: 1px solid #d02310;
border-radius: 6px;
background-color: #d02310;
font-size: 16px;
text-decoration: none;
transition: 0.3s;
}

.nav-right a:hover {
background-color: #d02310;
color: white;
border-color: white;
}

.nav-left a,
.nav-right a {
color: white;
text-decoration: none;
font-size: 16px;
font-family: "Times New Roman", serif;
transition: 0.3s;
}

.nav-left a:hover,
.nav-right a:hover {
color: #e5d5d6;
}

.nav-left a{
position: relative;
color: white;
text-decoration: none;
padding-bottom: 6px;
}

.nav-left a::after {
content: "";
position: absolute;
left: 0;
bottom: 0;
width: 0;
height: 1px;
background-color: white;
transition: width 0.3s ease;
}

.nav-left a:hover::after {
width: 100%;
}







footer {
display: flex;
background-color: #590e0e;
color: white;
padding: 1px 60px 25px;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;
}

.footer-left {
display: flex;
align-items: center;
gap: 15px;
}

.footer-left img {
width: 180px;
height: auto;
margin-left: -50px;
}

.footer-text {
display: flex;
flex-direction: column;
line-height: 1.3;
margin-left: -50px;
margin-top: 40px;
}

.footer-text span {
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
font-weight: bold;
}

.footer-text p {
font-family: 'Times New Roman', Times, serif;
font-size: 11px;
margin: 0;
opacity: 0.8;
}

.footer-right {
display: flex;
flex-direction: column;
align-items: flex-end;
gap: 6px;
margin-top: 30px;
}

.footer-right a {
color: white;
text-decoration: none;
font-size: 15px;
font-family: 'Times New Roman', Times, serif;
position: relative;
}

.footer-right a::after {
content: "";
position: absolute;
left: 0;
bottom: -2px;
width: 0;
height: 1px;
background-color: #ffffff;
transition: width 0.3s ease;
}

.footer-right a:hover::after {
width: 100%;
}

.footer-copy {
width: 100%;
text-align: center;
margin-top: 25px;
padding-top: 10px;
font-size: 13px;
opacity: 0.7;
border-top: 1px solid rgba(255,255,255,0.4);
}


.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    justify-content: center;
    align-items: center;
}

/* MODAL İÇİ */
.modal-icerik {
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    width: 340px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.2);
    position: relative;
    font-family: "Times New Roman", serif;
}


.kapat {
    position: absolute;
    right: 18px;
    top: 10px;
    font-size: 28px;
    cursor: pointer;
}


.giris-panel, .kayit-panel {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 12px;
}

input {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 8px;
    margin-top: 5px;
    font-size: 14px;
}

button {
    margin-top: 20px;
    padding: 12px;
    background: #590e0e;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.degis {
    margin-top: 12px;
}

.degis span {
    color: #590e0e;
    cursor: pointer;
}

.kapali {
    display: none;
}


@media (max-width: 900px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 12px 15px;
        gap: 10px;
    }

    .navbar-logo img {
        width: 200px;
        height: auto;
    }

    .navbar-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .nav-left {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 15px;
        white-space: nowrap;
        width: calc(100%-110px);
    }

    .nav-right {
        display: flex;
        justify-content: flex-end;
        width: 110px;
    }

    .nav-right a {
        font-size: 14px;
        padding: 5px 10px;
    }
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }
    .navbar-logo {
        margin-bottom: 10px;
        text-align: center;
    }
    .navbar-logo img {
        width: 80px;
        height: auto;
    }
    .nav-left,
    .nav-right {
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin: 10px 0;
    }
    .arama-kutu-navbar {
        width: 90%;
        margin-top: 10px;
    }
    .arama-kutu-navbar input {
        width: 100%;
    }
}


.footer-center {
display: grid;
grid-template-columns: repeat(2, 5fr);
gap: 40px;
padding: 30px 0;
font-family: 'Times New Roman', Times, serif;
}

.footer-section h3 {
font-size: 18px;
margin-bottom: 10px;
}

.footer-section a,
.footer-section p {
font-size: 14px;
color: white;
text-decoration: none;
display: block;
margin-bottom: 6px;
}

.footer-section a:hover {
text-decoration: underline;
}

.footer-slogan {
width: 100%;
text-align: center;
margin: 15px 0 10px 0;
font-size: 14px;
font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 900px) {
.footer-center {
grid-template-columns: 1fr;
text-align: center;
}

.footer-center .iletisim,
.footer-center .linkler {
display: none;
}

.footer-center .slogan {
display: block;
}
}


.arama-kutu-navbar {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.arama-kutu-navbar input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    width: 180px;
}

.arama-kutu-navbar button {
    padding: 6px 12px;
    background: #990000;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 2px;
}

.arama-kutu-navbar button:hover {
    background: #b30000;
}

.arama-oneri {
    position: absolute;
    top: 40px;
    left: 0;
    width: 200px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    z-index: 999;
    color: #590e0e;
}

.arama-oneri-item {
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    color: #590e0e;
}

.arama-oneri-item:hover {
    background-color: #f2f2f2;
}

@media (max-width: 900px) {
    .arama-kutu-navbar {
        display: none;
    }
}

.hero {
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(148, 20, 20, 0.4), #590e0e),
                url("../img/anasayfa-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.hero-icerik h1 {
    font-size: 38px;
    margin-bottom: 10px;
}

.hero-icerik p {
    font-size: 18px;
}

.cok-satanlar {
    padding: 40px 40px;
}

.cok-satanlar h2 {
    font-size: 24px;
    margin-bottom: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
}

.cok-satanlar-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 15px;
}

.cok-satan-kart {
    background: #fff;
    background-color: #f9f4e7;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0,0,0,0.08);
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.3s ease;
}

.cok-satan-kart:hover {
    transform: scale(1.04);
    box-shadow: 0 6px 14px rgba(0,0,0,0.12);
}

.cok-satan-kart img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
}

.cok-satan-kart h3 {
    margin-top: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #590e0e;
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 900px) {
    .cok-satanlar-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .cok-satan-kart img {
        height: 200px;
    }
}

@media (max-width: 600px) {
    .cok-satanlar-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .cok-satan-kart img {
        height: 180px;
    }
}


.ana-kategoriler {
    padding: 40px 80px;
}

.kategori-kutu-grid {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 25px;
    margin-top: 25px;
}

.kategori-kutu-grid a {
    background: #7a0d0d;
    padding: 18px 20px;
    border-radius: 12px;
    text-align: center;
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.25s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.kategori-kutu-grid a:hover {
    background: #590e0e;
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}



@media(max-width: 900px) {
    .kategori-kutu-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 550px) {

    .kategori-kutu-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .hero {
        height: 250px;
    }

    .hero-icerik h1 {
        font-size: 28px;
    }
}

.yayinevi {
    background: linear-gradient(rgba(148, 20, 20, 0.4), #590e0e),
                url("../img/anasayfa-bg.jpg");
    color: white;
    text-align: center;
    padding: 30px 0;
    border-bottom: 3px solid #3a0707;
    font-family: 'Times New Roman', Times, serif;
}

.yayinevi h2 {
    font-size: 28px;
    margin-bottom: 8px;
    font-weight: bold;
    font-style: italic;
    margin-left: -900px;
    text-shadow: 0 2px 5px rgba( 0, 0, 0, 0.3);
}

.yayinevi p {
    font-size: 16px;
    margin-bottom: 6px;
    font-weight: bold;
    font-style: italic;
    margin-left: -600px;
}

.yayinevi h1 {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: bold;
    font-style: italic;
}

.yayinevi img {
    width: 180px;
    height: 200px;
    margin-left: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba( 0, 0, 0, 0.3);
}

.yayinevi img:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

@media (max-width: 600px) {

 .yayinevi {
    text-align: center;
    padding: 20px;
   }  

 .yayinevi h2 {
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: -400px;
 }

  .yayinevi p {
    font-size: 16px;
    margin-left: -150px;
  }

}

@media (max-width: 900px) {

 .yayinevi {
    text-align: center;
    padding: 20px;
   }  

 .yayinevi h2 {
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: -200px;
 }

  .yayinevi p {
    font-size: 16px;
    margin-left: 100px;
  }

  .yayinevi img {
    margin-left: 300px;
  }

}

.koleksiyonlar {
    padding: 50px 80px;
    background: #f9f4e7;
}

.koleksiyonlar h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    color: #590e0e;
}

.koleksiyon-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 20px;
}

.koleksiyon-kart {
    background: #fff;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.koleksiyon-kart:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
}

.koleksiyon-kart h3 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 15px;
    color: #590e0e;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

.koleksiyon-kart img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.koleksiyon-img-galeri {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.koleksiyon-img-galeri img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

